.county {
	fill:none;
	stroke:#ababab;
	stroke-width: 1px;
	stroke-opacity: 0.2;
	stroke-dasharray: 3;
} 
.tile-background{
	fill:none;
	stroke:none;
}

.leaflet-clickable {
	mix-blend-mode: color-dodge;
}